<div class="card text-center mb-3">
	<img [src]="environmentApi.api.baseUrl+product.poster_path"
		class="card-img-top"
		alt="...">
	<div class="card-body">
		<h5 class="card-title">{{product.title}}</h5>
		<p class="card-text">
			{{product.overview}}
		</p>
		<p class="card-text">
			{{product.original_language}}
		</p>
		<button class="btn btn-outline-success btn-add" (click)="showDialog(product.id!)">
			<i class="pi pi-eye"></i>
			&nbsp; Ver detalle
		</button>
	</div>
</div>

<p-dialog [(visible)]="visible"
	[style]="{width: '50vw'}" [modal]="true">
  <p-card [header]="selectedSerie.title" [subheader]="selectedSerie.release_date" >
    <ng-template pTemplate="header">
        <img  [src]="selectedSerie.poster_path" />
    </ng-template>
    <p>
        {{selectedSerie.overview}}
    </p>
    <ng-template pTemplate="footer">
		<p style="color:cadetblue;font-weight:600">Géneros</p>
       <span *ngFor="let gener of selectedSerie.genres">
			{{gener.name}},
	   </span>
	   <p style="color:cadetblue;font-weight:600">Web</p>
       <span>
			{{selectedSerie.original_language}},
	   </span>
    </ng-template>
</p-card>
</p-dialog>
